# Dependencies
node_modules/
venv/
.venv/
env/

# Build
.next/
dist/
build/
.ruff_cache/
# Logs
*.log
logs/

# Environment

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PIDs
*.pid
config.bat
